@use "~/assets/styles/breakpoints.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1673px;
  padding: 95px 25px 134px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 377px;
  background: linear-gradient(93deg, #FFFFE0 24.79%, rgb(218 238 227 / 94%) 34.72%, rgb(173 216 230 / 86%) 51.23%, rgb(169 223 215 / 84%) 61.01%, rgb(163 233 193 / 81%) 74.91%, rgb(152 251 152 / 75%) 88.02%);;
}

.title {
  margin-bottom: 45px;
  color: var(--white);
  letter-spacing: 3.2px;
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .back {
    background: linear-gradient(70deg, #FFFFE0 17.5%, rgb(224 240 226 / 95%) 28.62%, rgb(173 216 230 / 86%) 63.03%, rgb(152 251 152 / 75%) 79.86%);
  }
}


@media only screen and (max-width: breakpoints.$medium) {
  .wrapper {
    padding: 45px 5% 50px;
  }

  .back {
    height: 271px;
  }

  .title {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1.8px;
  }
}
