@use "~/assets/styles/breakpoints.scss";

.listTitle {
  color: var(--dark-gray);
  font-size: 43px;
  letter-spacing: 2.15px;
  align-self: flex-start;
  margin-bottom: 45px;
}

.todosListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 45px;
  row-gap: 65px;
  margin-bottom: 65px;
}

.paginationContainer {
  display: flex;
  list-style: none;
  gap: 25px;
}

.paginationContainer a {
  width: 55px;
  height: 55px;
  padding: 10px;
  border-radius: 13px;
  border: 0.5px solid var(--light-gray-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.78px;
}

.activePage {
  background-color: var(--yellow);
  color: var(--white);
  font-weight: 700;
}

.disabledControl {
  background-color: var(--page-disabled);
}

.paginationContainer a:not(.activePage):not(.disabledControl):hover {
  background-color: var(--page-hover);
}

@media only screen and (max-width: breakpoints.$extra-extra-large) {
  .todosListContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .todosListContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: breakpoints.$medium) {
  .listTitle {
    font-size: 20px;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
  }

  .todosListContainer {
    grid-template-columns: 1fr;
    row-gap: 35px;
    margin-bottom: 35px;
  }

  .paginationContainer {
    gap: 15px;
  }
  
  .paginationContainer a {
    width: 35px;
    height: 35px;
    border-radius: 9px;
    padding: 11px 0px 12px;
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}