.todoCard {
  width: 371px;
  height: 356px;
  border-radius: 45px 20px 45px 45px;
  border: 0.5px solid var(--light-gray-border);
  box-shadow: 0px 7px 15px 5px var(--shadow-color);
  background: var(--yellow);
  padding: 30px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoCard > p {
  color: var(--white);
  letter-spacing: 0.96px;
  line-height: 1.2;
  text-align: center;
  flex-grow: 1;
}

.circlesContainer {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.circlesContainer > div {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--white);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: transparent;
  background-image: url('~/assets/images/icons/checkbox-background.svg');
  display: flex;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 45px;
  height: 45px;
  transform: scale(0);
  transition: 555ms transform ease-in-out;
  background-image: url('~/assets/images/icons/checkmark.svg');
}

input[type="checkbox"]:checked {
  background-image: none;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus-visible {
  outline: unset;
}

.actionButtons {
  display: flex;
  gap: 81px;
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--white);
  transition: 555ms color ease-in-out;
}

.editIcon:hover {
  color: var(--green-hover);
}

.deleteIcon:hover {
  color: var(--red-hover);
}