:root {
  --white: #FFF;
  --gray: #333333;
  --dark-gray: #222222;
  --yellow: #F0E68C;
  --bright-yellow: #FFEA31;

  --shadow-color: rgba(0, 0, 0, 0.07);

  /* border colors */
  --light-gray-border: #E1E1E1;
  --yellow-border: #EADE70;
}

input {
  --input-bg: var(--white);
  --input-shadow-color: var(--shadow-color);
  --input-text: var(--gray);
  --input-placeholder-color: #D2D2D2;
}