:root {
  --white: #FFFFFF;
  --light-grey: #F1F1F1;
  --gray: #333333;
  --dark-gray: #222222;
  --yellow: #F0E68C;
  --bright-yellow: #FFEA31;

  /* pagination colors */
  --page-hover: #f8f8f8;
  --page-disabled: #F9F9F9;

  /* icon hover colors */
  --green-hover: #90EE90;
  --red-hover: #FF6961;
  --shadow-color: rgb(0 0 0 / 7%);

  /* border colors */
  --light-gray-border: #E1E1E1;
  --yellow-border: #EADE70;
}

input {
  --input-bg: var(--white);
  --input-shadow-color: var(--shadow-color);
  --input-text: var(--gray);
  --input-placeholder-color: #D2D2D2;
}